root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    text-decoration: none;
    /* remove o sublinhado dos links */
}

p {
    color: white;
}

header nav ul li {
    position: relative;
}

header nav ul li:hover ul {
    display: block;
}


header  nav ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background-color:#777C6D;
    border-radius: 20px;
    margin: 0;
    padding: 0.5vw;

}

header nav ul li ul li:hover {
    margin: 0.5vw;
    padding: 0.5vw;
    border-bottom: 1px solid #F3E9DC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

nav ul li ul li a {
    color: #F3E9DC;
}
header nav ul li a.atual{
    border-bottom: 3px solid #997C70;
}

/*TOPO*/

header{
    display: flex;
    justify-content: space-between;
    background-color: #777C6D;
    border-bottom: 24px solid #CBCBCB;
    align-items: center;
}
header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: white;
    width: 30%;
    height: 30%;
}
header div nav ul {
    display: flex;
    margin: 0.5vw 2vw 0.5vw 3vw;
}
header div nav ul li {
    padding: 20px;
    color: #F3E9DC;
    font-size: 20px;
}
header div img {
    width: 4%;
    height: 4%;
}

/*MAIN*/
.saudavel{
    margin: 6vw;
}
.saudavel h2{
    color: #777C6D;
    font-size: 4rem;
    text-align: center;
    margin: 5vw;
}

.saudavel div{
    background-color: #B7B89F;
    border-radius: 3vw;
    margin: 20px;
    font-weight: bold;
}

.saudavel div h3{
    color: #EEEEEE;
    text-align: center;
    margin: 2vw;
    letter-spacing:1px;
    font-size: 3rem;
    padding: 0.7rem;
    font-weight: bold;
}

.saudavel div p{
    color: #EEEEEE;
    text-align: center;
    padding: 2.5vw;
    font-size: 2vw;
}

.calculo h2{
    color: #777C6D;
    text-align: center;
    font-size: 4rem;
    margin: 4vw;
    font-weight: bolder;
}

.calculo div p{
    text-align: center;
    background-color: #B7B89F;
    color: #EEEEEE;
    padding: 5rem;
    margin: 5vw;
    border-radius: 3vw;
    font-size: 2rem;
    font-weight: bold;
    

}
