root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    text-decoration: none;
    /* remove o sublinhado dos links */
}

p {
    color: white;
}

header nav ul li {
    position: relative;
    
}

header nav ul li:hover ul {
    display: block;
    z-index: 1;
    pointer-events: auto;

}


header  nav ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background-color:#C7B7A3;
    border-radius: 20px;
    margin: 0;
    padding: 0.5vw;

    
}

header nav ul li ul li:hover {
    margin: 0.5vw;
    padding: 0.5vw;
    border-bottom: 1px solid #561C24;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

nav ul li ul li a {
    color: #561C24;

}
header {
    display: flex;
    justify-content: space-between;
    background-color: #561C24;
    border-bottom: 24px solid #C7B7A3;
    align-items: center;
}

header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: white;
    width: 30%;
    height: 30%;
}


header div nav ul {
    display: flex;
    margin: 0.5vw 2vw 0.5vw 3vw;
    
}

header div nav ul li {
    padding: 20px;
    color: #C7B7A3;
    font-size: 20px;
}
header nav ul li a.atual{
    border-bottom: 3px solid #997C70;
    display: inline-block;
}

header div img {
    width: 4%;
    height: 4%;
}

section.banner{
    background: #E8D8C4;
}
section.banner h2{
    text-align: left;
    font-size: 4rem;
     font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 2vw;
    }

    header nav ul li:hover ul {
        position: static;
    }

    header h1 {
        font-size: 1.5rem;
        margin: 2vw 0 2vw 2vw;
        width: 100%;
    }

    header div nav ul {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    header div nav ul li {
        padding: 10px;
        font-size: 1rem;
        width: 100%;
    }

    header div img {
        width: 40px;
        height: 40px;
    }

    section.banner h2 {
        font-size: 2rem;
        text-align: center;
        padding: 5vw 0 2vw 0;
    }
}