root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    text-decoration: none;
    /* remove o sublinhado dos links */
}

p {
    color: white;
}

header nav ul li {
    position: relative;

}

header nav ul li:hover ul {
    display: block;
    z-index: 1;
    pointer-events: auto;

}


header nav ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background-color: #F5C45E;
    border-radius: 20px;
    margin: 0;
    padding: 0.5vw;


}

header nav ul li ul li:hover {
    margin: 0.5vw;
    padding: 0.5vw;
    border-bottom: 1px solid #F5C45E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

nav ul li ul li a {
    color: #561C24;

}

/*TOPO*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #102E50;
    border-bottom: 24px solid #E78B48;
    align-items: center;
}

header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: white;
    width: 30%;
    height: 30%;
}

header div nav ul {
    display: flex;
    margin: 0.5vw 2vw 0.5vw 3vw;
}

header div nav ul li {
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
}

header div img {
    width: 4%;
    height: 4%;
}

/*Banner*/
.banner {
    background-color: #F5C45E;
}

.banner img {
    margin: 9vw;
    background-color: #102E50;
    padding: 3vw;
    border-radius: 20px;
}

/*Destaque*/
section.destaque {
    background-color: #E78B48;
    display: flex;
    border-bottom: 30px solid #184374;
}

section.destaque div h2 {
    font-size: 6em;
    font-family: "Wendy One", sans-serif;
}

section.destaque div {
    padding: 3.5vw;
    margin: 0 12vw 12vw 0;
    text-align: center;
}

section.destaque div h3 {
    font-size: 2.5rem;
    padding: 1vw;
}

section.destaque ul {
    list-style: disc;
    margin: 13vw 0 0 14vw;
    font-size: 3rem;
}

section.destaque ul li {
    margin: 15px 0 0 0;

}

section.destaque div ul li h3 {
    font-size: 3rem;
    margin: 0 0 0 15vw;
}

section.destaque div ul li img {
    margin: 0 10vw 10vw 6vw;
}

/*Gluten*/
section.gluten {
    background-color: #102E50;
    padding: 6vw;
}

section.gluten h2 {
    font-size: 10rem;
    padding: 2vw 0 6vw 4vw;
    color: #F5C45E;
    font-weight: bold;
    font-family: "Wendy One", sans-serif;
}

section.gluten ul li {
    position: relative;
    padding: 0 30vw 0 0;
    text-align: center;
}

section.gluten ul li img {
    position: absolute;
    right: 0;
    margin: 0 3vw 0 0;
    width: 30%;
    height: 60%;


}

section.gluten ul li h3 {
    margin: 1vw;
    font-size: 6rem;
    color: #F5C45E;
    border-bottom: 2px solid #F5C45E;
    display: inline-block;
    font-family: "ZCOOL KuaiLe", sans-serif;

}

section.gluten div p {
    background-color: #F5C45E;
    font-size: 3rem;
    border-radius: 60px;
    color: black;
    margin: 3vw 2vw 0 8vw;
    padding: 3vw;
    text-align: left;
}

section.gluten div p span {
    background-color: #BE3D2A;
    border-radius: 13px;
    padding: 0.5vw;
    color: #F5C45E;
    line-height: 100px;


}


footer {
    background-color: #561C24;
}

body {



    margin: 0;


    font-family: Arial, sans-serif;


}


.footer {


    background-color: #BE3D2A;


    color: #ffffff;


    padding: 20px 0;


    text-align: center;


    display: flex;


    justify-content: space-around;


    align-items: center;


    flex-wrap: wrap;


}


.footer-section {


    margin: 10px 20px;


    flex: 1;


    min-width: 200px;


    color: #E8D8C4;


}





.footer-section h3 {


    margin-top: 0;


    margin-bottom: 15px;


    font-size: 1.2rem;


    color: #E8D8C4;


}


.footer-section p,
.footer-section a {


    margin: 5px 0;


    font-size: 1.2rem;


    text-decoration: none;


    color: #ffffff;


}


.social-icons img {


    width: 30px;


    height: 30px;


    margin: 0 5px;


    vertical-align: middle;


}


.logo-container {


    text-align: center;


}


.logo-container img {


    width: 50px;


    height: 50px;


}


.footer-section p {


    color: #E8D8C4;


    font-family: 'Trade Winds', cursive;


}


.footer-section p a {


    color: #E8D8C4;


}


.copyright {


    font-size: 0.8em;


    margin-top: 15px;


    width: 100%;


}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 2vw;
    }

    header h1 {
        font-size: 1.2rem;
        margin: 2vw 0 2vw 2vw;
        width: 100%;
    }

    header div nav ul {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    header div nav ul li {
        padding: 10px;
        font-size: 1rem;
        width: 100%;
    }

    header nav ul li ul {
        display: block;

        position: static;

    }

    header div img {
        width: 40px;
        height: 40px;
    }

    section.banner img {
        margin: 3vw;
        padding: 1vw;
        width: 90vw;
        max-width: 100%;
    }

    section.destaque {
        flex-direction: column;
        padding: 2vw;
    }

    section.destaque div h2 {
        font-size: 2.5rem;
    }

    section.destaque div h3 {
        font-size: 1.2rem;
        padding: 2vw 0;
    }

    section.destaque ul {
        margin: 4vw 0 0 4vw;
        font-size: 1.2rem;
    }

    section.destaque ul li {
        margin: 10px 0 0 0;
    }

    section.destaque div ul li h3 {
        font-size: 1.2rem;
        margin: 0 0 0 4vw;
    }

    section.destaque div ul li img {
        margin: 2vw;
        width: 60vw;
        max-width: 100%;
    }

    section.gluten {
        padding: 3vw;
    }

    section.gluten h2 {
        font-size: 2rem;
        padding: 2vw 0 2vw 2vw;
    }

    section.gluten ul li {
        padding: 0;
        text-align: center;
        display: block;
    }

    section.gluten ul li img {
        position: static;
        margin: 2vw auto;
        width: 80vw;
        height: auto;
        display: block;
    }

    section.gluten ul li h3 {
        margin: 2vw 0;
        font-size: 2rem;
        border-bottom: 1px solid #F5C45E;
    }

    section.gluten div p {
        font-size: 1rem;
        border-radius: 20px;
        margin: 2vw 1vw 0 1vw;
        padding: 2vw;
        text-align: left;
    }

    section.gluten div p span {
        line-height: 2vw;
        padding: 3px;

    }

    .footer {
        flex-direction: column;
        align-items: stretch;
        padding: 10px 0;
    }

    .footer-section {
        min-width: unset;
        margin: 10px 0;
        font-size: 1rem;
    }

    .logo-container img {
        width: 40px;
        height: 40px;
    }

    .social-icons img {
        width: 24px;
        height: 24px;
    }
}