root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    text-decoration: none;
    /* remove o sublinhado dos links */
}

p {
    color: white;
}
header nav ul li {
    position: relative;
}

header nav ul li:hover ul {
    display: block;
}


header  nav ul li ul {
    position: absolute;
    display: none;
    left: 0;
    background-color:#FDF7F4;
    border-radius: 20px;
    margin: 0;
    padding: 0.5vw;

}
header nav ul li a.atual{
    border-bottom: 3px solid #FDF7F4;
    display: inline-block;
}

header nav ul li ul li:hover {
    margin: 0.5vw;
    padding: 0.5vw;
    border-bottom: 1px solid #685752;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

nav ul li ul li a {
    color: #685752;
}
header nav ul li a.atual{
    border-bottom: 3px solid #997C70;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FDF7F4;
    border-bottom: 24px solid #FDF7F4;
    align-items: center;
}
header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: white;
    width: 30%;
    height: 30%;
}
header div nav ul {
    display: flex;
    margin: 0.5vw 2vw 0.5vw 3vw;
}
header div nav ul li {
    padding: 20px;
    color: #FDF7F4;
    font-size: 20px;
}
header div img {
    width: 4%;
    height: 4%;
}
/*TOPO*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #8EB486;
    border-bottom: 24px solid #685752;
    align-items: center;
}
header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: white;
    width: 30%;
    height: 30%;
}
header div nav ul {
    display: flex;
    margin: 0.5vw 2vw 0.5vw 3vw;
}
header div nav ul li {
    padding: 20px;
    color: #F3E9DC;
    font-size: 20px;
}
header div img {
    width: 4%;
    height: 4%;
}
section.inicio{
    background-color: #8EB486;
}
section.inicio h2{
    text-align: center;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #F3E9DC;
}
section.inicio h3{
    text-align: right;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0 3vw 0 0 ;
}
section.inicio div{
    display: flex;
    justify-content: space-between;
}
section.inicio div.texto{
    padding: 3vw;
}
section.inicio div.texto ul{
    background-color: #997C70   ;
    line-height: 3vw;
    padding: 4vw;
    font-size: 2rem;
    border-radius: 3vw;
    list-style: disc;
}
section.inicio ul{
    background-color: #685752;
    line-height: 3vw;
    padding: 4vw;
    font-size: 2rem;
    list-style: disc;
}
section.inicio div.img{
    padding: 2vw 0 2vw 2vw;
        width: 40
  
}
section.preparo{
    background-color: #FDF7F4;
    padding: 6vw;
}
section.preparo h2{
    font-size: 4rem;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
}
section.preparo ul{
    font-size: 1.5rem;
    padding: 2vw 2vw 0 2vw;
    background-color: #685752;
    border-radius: 3vw;
    margin: 2vw 4vw 0 4vw;
}
section.preparo ul li{
    line-height: 2vw;
}
section.espe{
    background-color: #8EB486;
    padding: 6vw;
}
section.espe h2{
    font-size: 4rem;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #561C24;
}

body {



    margin: 0;


    font-family: Arial, sans-serif;


}

.footer {


    background-color: #685752;


    color: #ffffff;


    padding: 20px 0;


    text-align: center;


    display: flex;


    justify-content: space-around;


    align-items: center;


    flex-wrap: wrap;


}


.footer-section {


    margin: 10px 20px;


    flex: 1;


    min-width: 200px;


    color: #E8D8C4;


}





.footer-section h3 {


    margin-top: 0;


    margin-bottom: 15px;


    font-size: 1.2rem;


    color: #E8D8C4;


}


.footer-section p,
.footer-section a {


    margin: 5px 0;


    font-size: 1.2rem;


    text-decoration: none;


    color: #ffffff;


}


.social-icons img {


    width: 30px;


    height: 30px;


    margin: 0 5px;


    vertical-align: middle;


}


.logo-container {


    text-align: center;


}


.logo-container img {


    width: 50px;


    height: 50px;


}


.footer-section p {


    color: #E8D8C4;


    font-family: 'Trade Winds', cursive;


}


.footer-section p a {


    color: #E8D8C4;


}


.copyright {


    font-size: 0.8em;


    margin-top: 15px;


    width: 100%;


}   