root {
    --main-bg-color: brown;
    font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a {
    text-decoration: none;
    /* remove o sublinhado dos links */
}

p {
    color: white;
}
/*TOPO*/
header{
    display: flex;
    justify-content: space-between;
    background-color: #8EB486;
    border-bottom: 24px solid #685752;
    align-items: center;
    color: #FDF7F4;
}
header h1 {
    font-size: 2.0rem;
    margin: 1.5vw 0 1.5vw 3vw;
    color: #FDF7F4;
    width: 30%;
    height: 30%;
}
header div nav ul {
    display: flex;
    margin: 0.5vw 0 0.5vw 3vw;
}
header div nav ul li {
    padding: 20px;
    color: #FDF7F4;
    font-size: 20px;
}
header div img {
    width: 4%;
    height: 4%;
}
/*Banner*/
section.banner{
    background-color: #8EB486;
}
section.banner img{
 margin: 9vw;
}
/*Destaque*/
section.destaque{
    background-color: #FDF7F4;
}
section.destaque div{
    display: flex;
    justify-content: space-between;
    ;
}
section.destaque ul li p{
    color:black;
    font-size: 1.5rem;
    
}
section.destaque div.imga{
    margin: 8rem;
}